.events {
  &__item {
    &:not(:last-child) {
      margin-bottom: $spacer * 2;
    }
  }
  &__event {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
@media (max-width: 1024px) {
  .events-section {
    .d-md-block {
      display: none;
    }
    .col-md-7 {
      grid-column: span 12;
    }
  }
}
@media (max-width: 420px) {
  .events-section {
    .col-md-7 {
      grid-column: unset;
    }
  }
}
