.cta {
  display: flex;
  flex-wrap: wrap;
  &__title {
    width: 100%;
    color: $color-crimson;
    @include md {
      width: 66.66%;
    }
  }
  &__btn {
    width: 100%;
    text-align: left;
    @include md {
      width: 33.33%;
      a {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &:hover {
          background-color: $color-dark-gray;
        }
      }
    }
    svg {
      vertical-align: middle;
    }
  }
  &.with-title {
    .cta__btn {
      text-align: left;
      @include md {
        text-align: center;
      }
    }
  }
}
